@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Source Sans 3', sans-serif;
}
main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.ql-editor p,
.ql-editor.ql-blank::before {
    font-size: 1.3em;
    font-weight: 100;
}

.pane {
   overflow-y: auto;
}

.sidebar {
   width: 20%;
   height: 100vh;
}

.sidebar-header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0.4rem;
   border-bottom: 1px solid rgb(182, 181, 181);
   box-shadow: 0px 0px 3px rgb(134, 134, 134);
}

.sidebar-header > h3 {
   font-size: 1.75rem;
}

.new-note {
   cursor: pointer;
   background-color: dodgerblue;
   border: none;
   color: white;
   border-radius: 3px;
   height: 30px;
   width: 30px;
   font-size: 1.4rem;
   font-weight: bold;
}

.editor {
   width: 80%;
   height: 100vh;
}

.title {
   overflow: hidden;
   width: 100%;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 2.3rem;
   border-bottom: 1px solid rgb(200, 228, 255);
}


.note-summary:not(:last-of-type) {
   border-bottom: 1px solid lightgray;
}

.text-snippet {
   padding-inline: 5px;
   font-size: 0.8rem;
   font-weight: 400;
   line-height: 1.2rem;
   color: #4A4E74;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.sidebar-note div {
   padding: 0.5rem 0.2rem;
}

.selected-note {
   background-color: dodgerblue;
}

.selected-note .text-snippet {
   color: white;
   font-weight: 700;
}

.gutter {
   background-color: #eee;

   background-repeat: no-repeat;
   background-position: 50%;
}

.gutter.gutter-horizontal {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
   cursor: col-resize;
}

.split {
   display: flex;
   width: 100%;
}

.no-notes {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.no-notes h1 {
   font-size: 2.5rem;
   text-align: center;
}

.no-notes button {
   cursor: pointer;
   background-color: dodgerblue;
   color: #fff;
   font-size: 1.4rem;
   padding: 0.5rem;
   border: none;
   border-radius: 0.4rem;
}

.delete-btn {
   display: none;
   background: none;
   border: none;
   margin-right: 1rem;
   font-size: 1.2rem;
   font-weight: bold;
   color: black;
   cursor: pointer;
}

.title:hover > .delete-btn {
   display: block;
}
